.section-reason {
  &__heading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(225deg, #E2E1E6 15.05%, #FFFFFF 73.5%);
    box-shadow: -19px 19px 34px rgba(188, 229, 251, 0.35);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transform-style: preserve-3d;
    &:before{
      position: absolute;
      content: '';
      display: block;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      border-radius: 50%;
      background-image: linear-gradient(180deg, #FFFFFF -0.06%, #E6E6E6 100.06%);
      transform: translateZ(-1px);
    }

    .text_uppercase {
      font-weight: 700;
    }
  }

  &__title {
    color: $sky-blue;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
  }

  .part {
    width: 40%;
    &_left{
      background: rosybrown;
    }
    &_right{
      background: turquoise;
    }
  }

  .part_center {
    height: 100%;
    padding-left: 20%;
    width: 20%;
    background: palevioletred;
  }
}

.reason-list {
  position: relative;
  max-width: 1148px;
  margin: 0 auto;
  display: flex;

  &__item {
    position: relative;
    max-width: 324px;
    width: 100%;
    background-color: #fff;
    min-height: 200px;
    border-radius: 100px;
    padding: 40px 30px 30px 140px;

    display: flex;
    align-items: center;

    background-clip: padding-box;
    border: 2px solid transparent;

    font-size: 14px;
    line-height: 17px;

    color: #000000;

  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    left: 25%;
  }

  &__item:before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #F0F83C -10.73%, #3BB339 118.64%);
    display: block;

    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -2px;
    border-radius: inherit;
  }

  &__item_1:before {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 50%, 33% 50%, 33% 100%);
  }

  &__item_2:before {
    clip-path: circle(50% at 100% 50%);
  }

  &__item_3:before {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 100% 50%, 33% 50%, 33% 0%, 0% 0%);
  }

  &__item_4:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 67% 100%, 50% 50%, 0% 50%);
  }

  &__item_5:before {
    clip-path: circle(50% at 0% 50%);
  }

  &__item_6:before {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 67% 0%, 67% 50%, 0% 50%, 0% 50%);
  }

  &__item_5 {
    margin-left: auto;
  }

  &__item_2 {
    margin-right: auto;
  }
  &__item_4{
    margin-right: 70px;
  }
  &__item_6,

  &__item_3,
  &__item_1 {
    margin-left: 70px;
  }
}