
.section-slider {
  position: relative;
  background-image: linear-gradient(177.86deg, #F8FBFF 35.61%, #EEEEEE 98.2%);
  padding-top: 140px;
  padding-bottom: 78px;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/curcle1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 589px;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    z-index: 0;
  }


  .wrapper-slider {
    position: relative;
    min-height: 810px;
    display: flex;
    align-items: center;

  }

  .swiper-slide.swiper-slide-active {
    opacity: 1;
  }

  .about-urolesan {
    padding-bottom: 100px;
  }

  .slide-about {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    opacity: .5;
    width: 75%;

    &__content {
      position: relative;
      width: 53%;
      padding-top: 108px;
      padding-left: 150px;
      padding-bottom: 77px;
    }

    &__heading {
      font-size: 68px;
      line-height: 1.16;
      color: #0088EC;
      margin-bottom: 25px;
    }

    .counter-slide {
      position: absolute;
      font-size: 97px;
      left: 0;
      top: 100px;
      -webkit-text-stroke: 1.5px #0088EC;
      color: white;
      font-weight: 700;
    }

    &__img {
      width: 47%;

      img {
        vertical-align: middle;
      }
    }
  }

  @media all and (max-width: 1480px) {
    .slide-about{
      width: 65%;
    }
    .slide-about__heading {
      font-size: 46px;
    }
    .wrapper-slider {
      min-height: 744px;
    }
    .slide-about__content {
      padding-left: 100px;
    }
  }
  @include respond-to($xl) {
    .slide-about .counter-slide {
      font-size: 70px;
    }

  }
  @include respond-to($lg) {
    .about-urolesan {
      padding-bottom: 120px;
    }
    .wrapper-slider {
      min-height: 555px;
    }

    .counter-slide {
      font-size: 70px;
    }
    .btn{
      font-size: 14px;
      min-width: 208px;
    }
    .slide-about__heading {
      font-size: 33px;
    }
  }
  @include respond-to($md) {
    padding-top: 0;

    &:before {
      display: none;
    }
    .wrapper-slider {
      min-height: 0;
      height: auto;
    }

    .slide-about {
      .counter-slide {
        line-height: .8;
        top: 0;
        font-size: 56px;
      }
    }

    .slide-about__content {
      padding-left: 0;
      padding-top: 55px;
      padding-bottom: 20px;
    }
  }
  @include respond-to($sm) {
    .slide-about__img{
      display: none;
    }
    .slide-about__content{
      max-width: 340px;
      width: 100%;
    }

    .about-urolesan {
      padding-bottom: 41px;
    }
    .slide-about__heading {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
}
