.section-help {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  //min-height: 1004px;
  padding-bottom: 70px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background: linear-gradient(0deg, rgba(37, 163, 229, 0) 0%, #25A3E6 100%);
    top: 0;
  }

  &:after {
    background-image: linear-gradient(180deg, rgba(228, 242, 255, 0) 5%, #F7FBFF 62%);
    height: 105px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .section__heading {
    margin-bottom: 80px;

  }

  @include respond-to($md) {
    padding-top: 80px;
    min-height: 700px;
  }
}

.diagnoses-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -6px;

  &__item {
    position: relative;
    width: calc(25% - 16px);
    flex-shrink: 0;
    margin: 0 6px;
    padding: 50px 32px 88px;
    z-index: 1;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      display: block;
      width: 100%;
      height: 184px;
      border-radius: 15px;
      border: 2px solid $white;
      transition: 1s;
      @extend .frosted;
    }

    .wrap-btn {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: .5s opacity .25s;
      max-width: 255px;
      width: 100%;
    }

    .btn {
      display: block;
      width: 100%;
      min-width: 0;
    }

    &:first-child .pulse {
      right: 50%;
      bottom: 50%;
    }

    &:nth-child(2) .pulse {
      left: 55%;
      bottom: 40%;
    }

    &:nth-child(3) .pulse {
      left: 35%;
      bottom: 45%;
    }

    &:nth-child(4) .pulse {
      left: 70%;
      top: 35%;
    }

    &:hover {
      &:before {
        height: 100%;
      }

      .diagnoses-list__thumb {
        opacity: 1;
      }

      .wrap-btn {
        opacity: 1;
      }

      .text {
        transform: none;
        bottom: 88px;
      }
    }
  }

  &__thumb {
    position: relative;
    margin-bottom: 23px;
    display: flex;
    height: 255px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition: opacity .8s;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url(../assets/img/bg-card-diagnose3.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &__img {
    animation: rotation 2s infinite linear;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    height: 64px;
    line-height: .77;
    color: $white;
    text-shadow: 0 0 25px rgba(188, 229, 251, 0.75);

    .text {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(100% - 64px);
      transform: translateY(100%);
      transition: 1s;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
  }


  @supports (backdrop-filter: none) {
    .frosted {
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(10px);
    }
  }
}

.pulse {
  position: absolute;
  width: 31px;
  height: 31px;
  background: #FFB4AC;
  border: .2px solid;
  border-radius: 50%;
  transform: scale(.1);
  animation: pulse 1.65s infinite;

  &:before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background: #FD6A6A;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgba(255, 228, 225, .2);
  }
  @include respond-to($md){
    width: 21px;
    height: 21px;
    &:before {
      width: 10px;
      height: 10px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0);
    border-color: transparent;
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.85);
    border-color: $white;
  }
  100% {
    transform: scale(0.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0);
    border-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@include respond-to($screen-md) {
  .diagnoses-list {
    &__item {
      padding-top: 40px;
      padding-bottom: 50px;

      &:hover {
        .text {
          bottom: 55px;
        }
      }
    }

    &__title {
      font-size: 32px;
      line-height: 1;
    }
  }
}

@include respond-to($md) {
  .section-help {
    background-position: 0;
  }
  .diagnoses-list {
    &__item {
      padding: 10px 5px;

      .btn {
        padding: 10px;
      }
    }

    &__title {
      font-size: 20px;
    }

    &__img {
      width: 80%;
    }

    &__thumb {
      height: 180px;

      &:before {
        height: 180px;
      }
    }
  }
}

@include respond-to($sm) {
  .section-help{
    padding-bottom: 110px;
  }
  .diagnoses-list {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;

    br {
      display: none;
    }

    &__title {
      font-size: 28px;
      margin-top: 6px;
      margin-bottom: 18px;

      .text {
        position: relative;
        transform: none;
        bottom: auto;
      }
    }

    &__thumb {
      height: 0;
      margin: 0;
    }

    &__item {
      padding: 20px 15px;
      height: 104px;
      width: 100%;
      margin: 0 0 10px;

      &:before {
        height: 100%;
      }

      &:hover {
        .wrap-btn {
          opacity: 0;
        }

        .text {
          transform: none;
          bottom: auto;
        }
      }

      .btn {
        pointer-events: none;
        min-width: 208px;
        padding: 15px 10px 16px;
      }

      &.active {
        height: auto;
        margin-bottom: 35px;

        .diagnoses-list__thumb {
          height: 227px;
        }

        .btn {
          pointer-events: all;
        }

        .wrap-btn {
          opacity: 1;
        }

        .diagnoses-list__img {
          width: 50%;
        }
      }
    }
  }
}

@include respond-to($xs) {
  .section-help .section__heading {
    margin-bottom: 38px;
  }
  .diagnoses-list {
    width: 100%;
    max-width: 271px;

    &__item.active {
      .diagnoses-list__thumb {
        height: 180px;
      }

      .diagnoses-list__img {
        width: 75%;
      }
    }

    &__img {
      width: 75%;
    }

    &__title {
      margin-top: 6px;
      margin-bottom: 18px;
    }
  }
}