.section-members {
  position: relative;
  overflow: hidden;

  .section__title {
    font-size: 64px;
    font-weight: 700;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .section__sub-title {
    width: 85%;
    max-width: 652px;
    font-size: 22px;
    margin: 0 auto 28px;
  }

  &__bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 64px;
    color: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(134, 200, 234, 0) 0%, #0088EC 78.81%);
    z-index: 1;
  }

  &__content {
    max-width: 650px;
    width: 100%;
    text-align: center;
  }

  @include respond-to($md) {
    padding-bottom: 100px;
    .section__title {
      font-size: 56px;
    }
    .section__sub-title {
      font-size: 18px;
    }
  }
  @include respond-to($xs) {
    &__bg {
      padding-bottom: 35px;
    }
    .section__title {
      font-size: 32px;
    }
    .section__sub-title {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
}

.members-list {
  display: flex;
  margin-left: -10vw;
  margin-right: -10vw;

  &__item {
    position: relative;
    width: 33.33%;
    padding-top: 48%;
  }

  .member-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond-to($xl) {
    &__item {
      padding-top: 57%;
    }
  }
  @include respond-to($xxs) {
    &__item {
    }
  }
}