.section-help {
  position: relative;
  padding-top: 160px;
  padding-bottom: 100px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(37, 163, 229, 0) 0%, #25A3E6 100%);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .section__heading {
    margin-bottom: 80px;
  }
}