.block-more-info{

  margin: 0 auto;
  max-width: 1043px;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 73px;
  border-top: 1px solid rgba(0, 136, 236, 0.1);;
  line-height: 1.2;
  color: #000000;
  font-weight: 700;

  p{
    margin-bottom: 23px;
  }
  ul {
    padding-left: 14px;

    li {
      position: relative;
      padding-left: 20px;
      line-height: 1.13;
      margin-bottom: 5px;
      &:before{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color:#000000;
        left: 0;
        top: 14px;
      }
    }
  }
  &_white{
    color: #ffffff;
    border-color: #ffffff;
    ul li:before{
      background-color: #ffffff;
    }
  }
}

.hide-info{
  //display: none;
}

