.block-more-info{

  margin: 0 auto;
  max-width: 1043px;
  padding-top: 55px;
  padding-bottom: 73px;
  border-top: 1px solid ;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  &.hide{
    display: none;
  }
  p{
    margin-bottom: 23px;
  }
  ul {
    padding-left: 14px;

    li {
      position: relative;
      padding-left: 20px;
      line-height: 1.13;
      margin-bottom: 5px;
      &:before{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ffffff;
        left: 0;
        top: 14px;
      }
    }
  }
}