.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  font-size: 18px;
  font-family: $main-font;
  border-radius: 100px;
  min-width: 289px;
  padding: 25px 10px 26px;

  &_main {
    color: $white;
    position: relative;
    background-clip: padding-box;
    border: 1px solid transparent;
    background-image: linear-gradient(180deg, #F0F83C -10.73%, #2FA02D 118.64%);
    transition: .5s;
    transform-style: preserve-3d;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

      transform: translateZ(-1px);
    }

    &:hover,
    &:focus {
      background: $white;
      border: 1px solid $green;
      color: $green;
    }
  }

  &_outline {
    border: 1px solid #3BB239;
    background-color: #E5E5E5;
    color: #3BB239;

    &:hover,
    &:focus {
      background-color: $white;
    }
  }

  &_glass {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #ffffff;

    &:hover,
    &:focus {
    }
  }

  @include respond-to($xl){
    min-width: 225px;
    padding: 18px 20px 19px;
  }
  @include
  respond-to($xxs){
    min-width: 208px;
    font-size: 14px;
    padding: 15px 20px 16px;
  }
}

.round {
  border: none;
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(-270deg, #F0F83C -10.73%, #59CE57 118.64%);
  cursor: pointer;
  transition: .35s;

  &:after,
  &:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 0;
    background-image: linear-gradient(-270deg, #F0F83C, #59CE57);
    opacity: .35;
  }

  &:after {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../assets/img/svg/plus2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  @include respond-to($xs){
      width: 54px;
      height: 54px;
    &:before {
      width: 68px;
      height: 68px;
    }
  }
}

