.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding: 11px 19px;

  &_main {

    color: $white;

    border-radius: 100px;
    min-width: 289px;
    padding: 25px 10px 26px;

    position: relative;
    background-clip: padding-box; /* !importanté */
    border: 1px solid transparent; /* !importanté */
    background-image: linear-gradient(180deg, #F0F83C -10.73%, #2FA02D 118.64%);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    &:hover,
    &:focus {
      //border-color: $warning;
      //color: $warning;
    }
  }

}

