.card-drug {

  max-width: 330px;
  padding: 0 15px;

  &__header {
    text-align: center;
    margin-bottom: 18px;

    svg {
      display: inline-block;
      width: 155px;
      height: auto;
    }
  }

  &__img-wrap {
    position: relative;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding-top: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 24px;


    img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      height: 90%;
      object-fit: cover;

    }
  }

  .wrap-btn {
    display: inline-block;
    position: absolute;
    right: 21px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

    &:hover {
      .round:after {
        transform: translate(-50%, -50%) rotate(0deg);

      }
    }
  }

  .btn {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.popover{
  background: #FFFFFF;
  max-width: 350px;
  min-height: 340px;
  border-radius: 15px;
  font-size: 18px;
  color: $black-blue;
  padding: 27px 23px;
  .heading_h1{
    font-weight: 400;
    color: $green-100;
    line-height: 1;
    margin-bottom: 18px;
    .small{
      font-size: 18px;
      line-height:1;
      color: #aaaaaa;
    }
  }
  &__info{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .prescription{
    display: flex;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
    &__icon{
      width: 24px;
      height: 24px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}