.card-drug {
  max-width: 374px;
  width: 100%;
  padding: 0 37px;

  &__header {
    text-align: center;
    margin-bottom: 18px;

    .big {
      display: inline-block;
      font-size: 38px;
      line-height: .6;

      sup {
        vertical-align: baseline;
        margin-left: -0.35em;
      }
    }
  }

  &__img-wrap {
    position: relative;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding-top: 100%;
    width: 300px;
    margin: 0 auto 24px;
    transition: box-shadow .35s;

    &:hover {
      box-shadow: 0 0 25px 0 #BCE5FB;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 100%;
    object-fit: cover;

  }

  &__footer {
    text-align: center;
  }

  .wrap-btn {
    display: inline-block;
    position: absolute;
    right: 21px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  .trigger-popover {
    opacity: 1;
    transition: .35s;
  }

  .trigger-popover.active:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .trigger-popover.hide {
    opacity: 0;
    pointer-events: none;
  }

  .btn {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-to($lg) {
    padding: 0 15px;
    &__img-wrap {
      padding-top: 95%;
    }
  }
  @include respond-to($sm) {

    &__img-wrap {
      width: 200px;
      padding-top: 80%;
    }
    &__header {
      .heading_h4 {
        font-size: 18px;
      }

      .big {
        font-size: 30px;
      }
    }
  }

  @include respond-to($xs) {
    .wrap-btn {
      right: -27px;
      display: none;
    }
    &__img-wrap {
      padding-top: 55%;
    }

  }
  @include respond-to($xxs) {
    &__img-wrap {
      width: 143px;
      padding-top: 50%;
      margin-bottom: 20px;
    }
    &__header {
      margin-bottom: 9px;

      .heading_h4 {
        font-size: 14px;
      }

      .big {
        font-size: 24px;
      }
    }
  }
}

.popover {
  position: absolute;
  background: #FFFFFF;
  min-height: 340px;
  border-radius: 15px;
  font-size: 18px;
  color: $black-blue;
  padding: 27px 23px;
  width: 340px;
  opacity: 0;
  transition: opacity .5s;
  z-index: 600;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
      }

  .heading_h1 {
    font-weight: 400;
    color: $green-100;
    line-height: 1;
    margin-bottom: 18px;

    .small {
      display: block;
      font-size: 18px;
      line-height: 1;
      color: #aaaaaa;
    }
  }

  &__info {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .prescription {
    display: flex;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }

}