.pagination {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-content: center;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    border-radius: 8px;
    color: #999CA0;
    margin: 0 6px;
    &:hover {
      color: $blue-100;
    }

    &_active {
      background-color: $blue-100;
      color: #fff;
      pointer-events: none;
    }
  }

  &__placeholder {
    pointer-events: none;
  }

  &__next {
    margin-left: 24px;
  }

  &__prev {
    margin-right: 24px;
  }

  &__next,
  &__prev {
    color: $blue-100;
  }
  @include respond-to($sm){
    &__next,
    &__prev{
      display: none;
    }
  }
  @media all and (max-width: 480px) {

    &__btn{
      min-width: 18px;
      height: 18px;
      border-radius: 5px;
    }
  }
}

