.types-cystitis {
  background-image: url(../assets/img/outline-list.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 655px;
  margin: 0 auto 85px;

  .card-types {
    min-height: 303px;
    position: relative;
    z-index: 1;
    background: linear-gradient(222.87deg, #FFFFFF 21%, #F5F5F5 93%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    width: 256px;
    padding: 22px 24px 25px 29px;
    margin: 84px 24px 30px;

    &:last-child {
      top: -52px;
    }

    &__title {
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      color: $green;
      min-height: 67px;
      margin-bottom: 44px;
    }

    &__content {
      font-size: 18px;
      line-height: 18px;
      color: $black-blue;

      p {
        margin-bottom: 23px;
      }
    }
  }

}