
$white: #ffffff;
$black: #000000;
$blue: #0062B3;



$main-font: 'Calibri', sans-serif;


// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 980px)';
$lg: '(max-width: 1180px)';
$laptop: '(max-width: 1360px)';
$laptop-md: '(max-width: 1440px)';
$desktop-md: '(max-width: 1680px)';


