
$white: #ffffff;
$black-blue: #24243F;

$blue: #0062B3;
$blue-100: #0088EC;
$sky-blue: #25A3E5;
$green: #59CE57;
$green-100: #3BB239;


$main-font: 'Calibri', sans-serif;
$secondary-font:'Work Sans', sans-serif;


// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 940px)';
$lg: '(max-width: 1180px)';
//$xl: '(max-width: 1340px)';


