body {
  font: 400 18px $main-font;
  height: 100%;
  background-color: #f5f7f7;
}

.body_bg {
  position: relative;
  z-index: 0;

  &:before {
    position: absolute;
    content: '';
    background: linear-gradient(to top, #f5f7f7 0%, rgba(251, 247, 253, 0) 40%),
    url(../assets/img/bg-soty.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    left: 0;
    right: 0;
    min-height: 1005px;
    z-index: 0;
  }
  @include respond-to($sm){
    &:before{
      background-position: 0 0;
      min-height: 560px;
    }
  }
}

.frosted {
  background: rgba(255, 255, 255, 0.6);
}

@supports (backdrop-filter: none) {
  .frosted {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
  }
}


.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_uppercase {
  text-transform: uppercase;
}

.color_white {
  color: $white;
}

.color_green {
  color: $green-100;
}

.section {
  &__heading {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      max-width: 271px;
      width: 19%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-width: 3px;
      border-style: solid;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0)) 0 0 100% 0;

    }

    .wrap-content {
      display: inline-block;
      text-align: right;
    }

    .big {
      display: inline-block;
      font-size: 124px;
      line-height: .6;

      sup {
        vertical-align: baseline;
        margin-left: -.35em;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    text-align: right;
    padding-right: 1.15em;
    line-height: .8;
  }
}

.card-mob {
  background: linear-gradient(222.87deg, #FFFFFF 21.75%, #F5F5F5 93.36%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
}


.block-buy {
  position: fixed;
  right: 24px;
  top: 343px;
  width: 82px;
  z-index: 600;

  .hexagon {
    position: relative;
    width: 82px;
    height: 98px;
    background-image: url(../assets/img/svg/buy.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }

  .buy {
    width: 82px;
    height: 23px;
    font-size: 16px;
    line-height: 1;
    color: $blue-100;
    text-align: center;
    background-image: url(../assets/img/svg/substrare.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include respond-to($xs) {
    width: 65px;
    height: 86px;
    right: 0;
    bottom: 28px;
    top: auto;
    .buy {
      display: none;
    }
    .hexagon {
      width: 65px;
      height: 86px;
    }
  }
}

.dynamic-content {
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 26px;
  }

  h6 {
    font-size: 14px;
  }

  ul {
    padding-left: 14px;
    margin-bottom: 38px;

    li {
      position: relative;
      padding-left: 14px;
      line-height: 1.13;
      margin-bottom: 5px;

      &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $black-blue;
        left: 0;
        top: 10px;
        transform: translateY(-50%);
      }
    }
  }

  @include respond-to($xs) {
    ul {
      margin-bottom: 25px;
    }
  }
}

.anim-page {
  opacity: 0;
  transform: translateY(100px);
  transition: all .8s linear ;

}

.active-anim {
  opacity: 1;
  transform: translateY(0);
}


@include respond-to($lg) {
  .section__heading {
    padding-bottom: 40px;

    .big {
      font-size: 97px;
    }
  }
  .section__title {
    font-size: 31px;
  }
}

@include respond-to($sm) {
  .section__heading {
    padding-bottom: 25px;

    .big {
      font-size: 80px;
    }
  }
  .section__title {
    font-size: 25px;
  }
}

@include respond-to($xs) {
  .section__heading {
    padding-bottom: 19px;

    &:after {
      width: 36%;
    }

    .big {
      font-size: 67px;
    }
  }
  .section__title {
    font-size: 18px;
  }
}

