.blog {
  padding-bottom: 79px;
  background-color: #F5F7F7;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.link-back {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: $black-blue;
}

.icon-back {
  width:24px;
  height:24px;
  margin-right: 12px;
}

.page-count{
  font-size: 12px;
  color: #999CA0;
  @include respond-to($sm) {
    font-size: 18px;
  }
  @media screen and (max-width:340px){
    font-size: 14px;
  }
  .dark-text{
    font-weight: 700;
    color: $black-blue;
  }
}