.single-article {
  .inner-content {
    width: 100%;
    padding: 0 11.5%;
    @include respond-to($lg) {
      padding-right: 0;
    }

    @include respond-to($md) {
      padding-left: 8%;
    }
    @include respond-to($sm) {
      padding-left: 0;
    }

  }

  @include respond-to($xs) {
    padding-bottom: 0;
  }
}

.article {
  padding-top: 95px;
  padding-bottom: 54px;

  &__header {
    position: relative;
    padding-bottom: 30px;
    color: $black-blue;
    margin-bottom: 58px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background-color: #24243F;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    .heading {
      text-align: center;
      max-width: 895px;
      margin: 0 auto;
    }
  }

  &__thumb {
    position: relative;
    width: 100%;
    padding-top: 42%;
    margin-bottom: 76px;
    border-radius: 10px;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-post__author {
    padding-top: 24px;

    &:hover,
    &:focus {
      .info-author {
        text-decoration: underline;
      }
    }
  }

  .card-post__avatar {
    width: 60px;
    height: 60px;
  }

  @include respond-to($sm) {
    padding-top: 40px;
    &__thumb {
      padding-top: 0;
      margin-bottom: 46px;

      img {
        position: relative;
        transform: none;
        vertical-align: middle;
        left: 0;
        top: 0;
      }
    }
    &__header {
      margin-bottom: 31px;
    }
    .card-post__author {
      padding-top: 10px;
    }
  }
}