@font-face {
  font-family: 'Calibri';
  src: url('Calibri-Bold.eot');
  src: local('Calibri Bold'), local('Calibri-Bold'),
  url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('Calibri-Bold.woff2') format('woff2'),
  url('Calibri-Bold.woff') format('woff'),
  url('Calibri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot');
  src: local('Calibri'),
  url('Calibri.eot?#iefix') format('embedded-opentype'),
  url('Calibri.woff2') format('woff2'),
  url('Calibri.woff') format('woff'),
  url('Calibri.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}