.footer {
  background-color: #ffffff;

  &_top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(134, 200, 234, .2);
    padding: 40px 0 16px;

    .footer_text {
      max-width: 285px;

      .text-small {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 8px;
      }
    }

    .name-corporation {
      font-weight: 700;
      color: $blue;
      font-size: 16px;
    }

    .link-site {
      display: inline-block;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .footer-logo {
      display: inline-flex;
      max-width: 134px;
      flex-direction: column;
      align-items: flex-end;
      font-size: 13px;

      span {
        display: inline-block;
        margin-bottom: 4px;
      }
    }

    .social-bar {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      &__item {
        width: 24px;
        height: 24px;
        display: block;
        margin-left: 22px;

        &:first-child {
          margin-left: 0;
        }

        svg {
          max-width: 100%;
        }
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20vh;
    padding-top: 18px;
    font-size: 14px;
    color: $blue-100;
  }

  .disclaimer {
    background-size: cover;
    overflow: hidden;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 16vh;
    z-index: 500;
    padding: 18px 34px 19px;

    img {
      display: block;
      width: 100%;
      height: 15vh;
      max-width: 100%;
    }
  }

  @include respond-to($md) {
    .social-bar {
      position: relative;
      padding-top: 20px;
      transform: none;
      width: 100%;
      left: auto;
      right: auto;
      bottom: 0;
    }
  }
  @include respond-to($xs) {
    &_top {
      justify-content: center;
      text-align: center;
    }
    .footer-logo {
      padding-top: 25px;

      span {
        display: none;
      }
    }
    &_bottom {
      flex-wrap: wrap;
      padding-top: 14px;
      text-align: center;
    }
    .design,
    .copyright {
      width: 100%;
    }
  }
}

