.footer {

  .disclaimer {
    background-size: cover;
    overflow: hidden;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 16vh;
    z-index: 500;
    padding: 18px 34px 19px;
    img{
      display: block;
      width: 100%;
      height:15vh;
      max-width: 100%;
    }
  }
}

