
.container{
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  //@include respond-to($laptop-md){
  //  max-width: 1240px;
  //}
  //@include respond-to($laptop){
  //  max-width: 1120px;
  //}
  //@include respond-to($xl){
  //  max-width: 1280px;
  //}

  @include respond-to($lg){
    max-width: 940px;
  }
  @include respond-to($md){
    max-width: 720px;
  }
  @include respond-to($sm){
    max-width: 580px;
  }

  @include respond-to($xs){
    max-width: 420px;
     }
}