.header {
  padding: 20px 15px 0;
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 16px;
  color: $black-blue;

  .bg_frosted {
    position: relative;
    border: 1px solid $white;
    border-radius: 15px;
    padding: 29px 44px;
    overflow: hidden;
    background-color: transparent;

    .container-inner {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
    }

    &:before {

      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(12px);
      z-index: 2;
    }
  }

  &__nav {
    flex-grow: 1;
  }

  &__logo {
    position: relative;
    display: block;
    max-width: 202px;
    padding-right: 47px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $white;
      width: 1px;
      height: 46px;
      z-index: 1;
    }
  }

  &__logo-site {
    display: block;
    max-width: 132px;
    margin-left: 48px;
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    padding: 5px;
    width: 34px;
    height: 27px;

    .line {
      display: block;
      width: 24px;
      height: 1px;
      margin-bottom: 7px;
      background-color: $black-blue;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    position: absolute;
    display: none;
    width: 54px;
    height: 54px;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);

  }

  .round:before {
    width: 68px;
    height: 68px;
  }

  .round:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  &__nav-bar {
    display: none;
  }

  .switch-lang {
    margin-left: 20px;
  }

  @media all and (max-width: 1340px) {
    .bg_frosted {
      padding: 25px 20px;
    }
    &__logo {
      max-width: 135px;
      padding-right: 20px;
    }
    &__logo-site {
      margin-left: 30px;
      max-width: 115px;
    }
    &__nav {
      text-align: center;
    }
    .menu {
      font-size: 15px;
    }
  }
  @include respond-to($lg) {
    .header__logo {
      max-width: 109px;
    }

    .header__logo-site {
      max-width: 75px;
      img {
        vertical-align: middle;
      }
    }
    .menu {
      font-size: 14px;
    }
  }
  @include respond-to($md) {
    &__logo {
      padding-right: 0;
      max-width: 113px;
      &:after{
        display: none;
      }
    }
    .btn-close,
    .btn-burger,
    &__nav-bar {
      display: block;
    }
    &__nav {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      transition: transform .5s;
      transform: translateX(100%);
      z-index: 999;
      padding-left: 96px;
      background-color: transparent;

      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;
        font-size: 18px;

        &__item {
          margin-bottom: 10px;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;

          &:before {
            display: none;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .social-list {
        display: flex;

        &__item {
          width: 24px;
          height: 24px;
          margin-right: 22px;

          &:last-child {
            margin-right: 0;
          }
        }

        &__link {
          display: block;
        }
      }

      .switch-lang {
        font-size: 18px;
        margin-bottom: 50px;
        margin-left: 0;

        &__link {
          margin-right: 18px;

          &:last-child {
            margin-right: 0;
          }
        }

        .active-lang {
          font-weight: 700;
        }

      }
    }

    &__nav-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 90px 27px 90px 73px;
      border-radius: 20px 0 0 20px;
      background-color: #fff;
      text-align: left;
      height: 100%;
    }
    &__logo-site {
      display: none;
    }
    .bg_frosted {
      padding: 20px 26px;
    }
    .switch-lang {
      margin-right: 22px;
      margin-left: auto;
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  z-index: 500;
}

