@import 'utils/variables';
@import 'utils/mixins';

@import 'base/reset';
@import 'base/base';
@import 'base/typography';

@import 'components/button';
@import 'components/nav';
@import 'components/slider';
@import 'components/form';
@import 'components/pagination';
@import 'components/widget-share';
@import 'components/block-more-info';
@import 'components/card-post';
@import 'components/card-drug';
@import 'components/types-cystitis';
@import 'components/card-author';
@import 'components/prevention__list';
@import 'components/popup';



@import 'layout/layout';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sections/section-banner';
@import 'layout/sections/section-help';
@import 'layout/sections/section-slider';
@import 'layout/sections/section-reason';
@import 'layout/sections/symptoms';
@import 'layout/sections/consequences';
@import 'layout/sections/type-disease';
@import 'layout/sections/section-related-post';
@import 'layout/sections/section-members';
@import 'layout/sections/selection-drug';


@import 'pages/blog';
@import 'pages/single-article';
@import 'pages/page-effectiviness';
@import 'pages/page';



